$primary-text-color: #303030;
$black: #000;
$white: #fff;
$gray: #707070;
$gray-light: #9b9b9b;
$gray-lighter: #c7c7c7;
$gray-super-light: #eee;
$background-color: rgb(27, 201, 152);
$primary-color: #1BC898;
$dark-primary-color: #138D5F;
$dark-primary-color-transparent: rgba(19, 141, 95, 0.8);
$error-color: #f44336;
$link-color: $primary-color;
$red: #db0015;
$yellow: #ffc11b;
$amber: #ffab40;
$green: #00b145;
$light-green: #33ff45;
$title-green: #138d6a;
$header-height: 3rem;