<template>
  <header class="header layer">
    <router-link :to="{
      path: hasBack
    }">
      <span title="Back" class="back-btn" v-if="hasBack">
         <Chevron class="rotate"/>
      </span>
    </router-link>
    <h1 v-if="title">{{ title }}</h1>
    <router-link to="/info" :class="{hideme: isInfo}">
        <svg class="infoicon" style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
        </svg>
    </router-link>
  </header>
</template>

<script>
import Chevron from "./Chevron.vue";

export default {
  name: "appHeader",
  props: {
    title: {
      type: String,
      default: ""
    },
    hasBack: {
      type: String,
      default: ""
    },
    isInfo: {
      type: Boolean,
      default: false
    }
  },
  components: {
    Chevron
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../styles/variables.scss";

.header {
  background: $background-color;
  color: white;
  font-size: 0.6em;
  height: $header-height;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > h1 {
    color: white;
  }
  .infoicon {
    color: white;
    padding-right: 1em;
  }
  .hideme {
    visibility: hidden;
  }
}

.back-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10%;
  left: 1%;
  font-size: 3em;
  color: white;

  svg {
    transform: rotate(180deg);
    width: auto;
    height: 18px;

    // Specific selection to target SVG element
    #Park-view-with-info {
      fill: white !important;
    }
  }
}
</style>
