<template>
    <div>
        <Header title="Info" v-bind:hasBack="backLink" v-bind:isInfo="true" />
        <div class="pagebody">
            <div class="content">
                <p>
                    <span class="name">Triffids</span> is an application that celebrates the parks,
                    green spaces and nature of Bristol by surfacing data from
                    Bristol Open Data and other sources in a fun and engaging
                    way.
                </p>
                <p>
                    The original work on the application was funded by Bristol
                    City Council and carried out by:
                    <ul>
                        <li>Tim Pushman</li>
                        <li>Tom Wieck</li>
                        <li>Josh Jarvis</li>
                        <li>Taavi Kelle</li>
                        <li>Faizaan Sakib</li>
                    </ul>
                </p>
                <p>
                    For further information, please
                    <a href="mailto:sprout@triffids.app">email us</a>.
                </p>
                <p>
                    If you wish to assist in the development of the application,
                    the codebase is open source and available on
                    <a
                        href="https://gitlab.com/bristol.codes/triffids/"
                        target="_blank"
                        >GitLab</a
                    >.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import Header from "./Header.vue";

export default {
    components: { Header },
    data: function() {
        return {
            backLink: "/parks"
        };
    }
};
</script>

<style scoped lang="scss">
@import "../styles/variables.scss";
body {
    background: $gray-super-light;
}
.pagebody {
    color: $primary-text-color;
    position: fixed;
    width: 100%;
    background: white;
    // margin-top: 3rem;
    .content {
        width: 80%;
        margin: 10%;
    }
    .name {
      color: $dark-primary-color;
    }
}
a {
    color: #42b983;
}
</style>