<template>
  <main class="splash-screen">
    <img
      class="splash-screen__image"
      :src="image"
      alt="Triffids"
    >
  </main>
</template>

<script>
import image from "../assets/logo.png";

export default {
  name: "splash",
  data: () => {
    return {
      image: image
    };
  },

  mounted() {
    this.$log.info('Splash:mounted: loading...')
    setTimeout(() => { // show the nice splash for 2 secs
      this.checkLocation();
    }, 2000);
},
  methods: {
    checkLocation() {
      navigator.geolocation.getCurrentPosition(
        position => {
          this.$log.info("Geolocation SUCCESS!", position);
          this.$store.commit('setLocationAllowed', true)
          this.$router.push('parks');
        },
        () => {
          this.$log.info("Geolocation FAILED!");
          this.$store.commit('setLocationAllowed', false)
          this.$router.push('parks');
        }
      );
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/variables.scss";

.splash-screen {
  background-color: #1BC998;
  background-image: url("../assets/splash_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: -$header-height 0;

  &__image {
    max-width: 230px;
    width: 100%;
  }
}
</style>
